*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
#reg-form{
    display: flex;
    justify-content: center;
   
}
    
#heading{
    background-color: blanchedalmond;
    font-size:20px;
    text-align: center;
    border: 2px solid blue;
}   
 table{
    background-color: yellowgreen;
    font: size 20px;
    border:3px solid red;
 }